@model IEnumerable<System.Linq.IGrouping<object, GardenShopOnline.Models.Message>>

@{
    ViewBag.Title = "Contact us";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Customer contact</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Index", "AspNetUsers")">
                                    <i class="feather icon-home">
                                    </i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">Customer contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Customer contact</h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="card m-0">
                                        <!-- Row start -->
                                        <div class="row no-gutters">
                                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3">
                                                <div class="users-container">
                                                    <ul class="users">
                                                        @foreach (var item in Model)
                                                        {
                                                            string seen = string.Empty;
                                                            if (item.Any(m => m.DateViewed == null))
                                                            {
                                                                seen = "busy";
                                                            }
                                                            <li class="person" data-chat="@Url.Action("GetData", "Contact", new { fromUserId = item.Key })" id="chat-@item.FirstOrDefault().FromUserId">
                                                                <div class="d-flex justify-content-between align-items-center header-actions row">
                                                                    <div class="col-sm-12 col-lg-8 d-flex justify-content-center justify-content-lg-start align-items-center">
                                                                        <div class="user">
                                                                            <img src="~/assets/chat/images/img_user.png" alt="User avatar" />
                                                                            <span class="status status-@item.Key @seen"></span>
                                                                        </div>
                                                                        <span class="name-time">
                                                                            <span class="name">@item.FirstOrDefault().AspNetUser.Email</span>
                                                                        </span>
                                                                    </div>
                                                                    <div class="col-sm-12 col-lg-4">
                                                                        @if (User.IsInRole("Admin"))
                                                                        {
                                                                            <div class="dt-action-buttons d-flex align-items-center justify-content-center justify-content-lg-end flex-lg-nowrap flex-wrap">
                                                                                <button type="button" class="btn btn-sm btn-danger float-right my-2" onclick="deleteChat('@item.FirstOrDefault().FromUserId')" title="Delete" id="Delete">
                                                                                    <i class="feather icon-trash-2">
                                                                                    </i>
                                                                                </button>
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9">
                                                <div id="chatDiv"></div>
                                            </div>
                                        </div>
                                        <!-- Row end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div id="imageModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img src="" id="imagepreview" class="w-75 d-flex mx-auto">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
            </div>
        </div>
    </div>
</div>

@section styles {
    <link href="~/assets/chat/css/app-chat.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/assets/signalR/jquery.signalR.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/assets/chat/js/app-chat.js"></script>
    <script type="text/javascript">
        function deleteChat(id) {
            swal({
                title: "Are you sure you want to delete ?",
                type: "warning",
                showCancelButton: true,
                closeOnConfirm: false,
                confirmButtonText: "Yes",
                confirmButtonColor: "#ec6c62",
            },
                function () {
                    $.ajax({
                        url: '@Url.Action("Delete", "Contact")',
                        data: { id },
                        type: 'POST'
                    })
                        .done(function (data) {
                            if (data.status == true) {
                                sweetAlert
                                    ({
                                        title: "Delete successfully",
                                        confirmButtonText: "OK",
                                        type: "success"
                                    },
                                        function () {
                                            $('#chat-' + id).remove();
                                            $('#chatDiv').empty();
                                        })
                            }
                            else {
                                sweetAlert
                                    ({
                                        title: "Delete failed !",
                                        confirmButtonText: "OK",
                                        type: "error"
                                    })
                            }

                        })
                })
        }
    </script>
}