@using GardenShopOnline.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<main class="main-content">
    <div class="login-register-area section-space-y-axis-100" data-bg-image="../../assets/customer/images/background/img_background_tree.jpg">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-8">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="login-form">
                            <h4 class="login-title">Login</h4>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger mb-3" })
                            <div class="row">
                                <div class="col-lg-12">
                                    <label>Email Address</label>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email addresss" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-lg-12">
                                    <label class="mt-1">Password</label>
                                    <div class="input-group mb-3">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control mb-0", @placeholder = "Password" })
                                        <span class="input-group-text" id="show_password">
                                            <i class="fa fa-eye" id="show_eye"></i>
                                            <i class="fa fa-eye-slash d-none" id="hide_eye"></i>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-8">
                                    <div class="check-box">
                                        <input data-val="" data-val-required="The Remember me? field is required." id="RememberMe" name="RememberMe" type="checkbox" value="true">
                                        <label class="mt-1" for="RememberMe">Remember me</label>
                                    </div>
                                </div>
                                <div class="col-md-4 pt-1 mt-md-0">
                                    <div class="d-flex align-items-center justify-content-center justify-content-lg-end flex-lg-nowrap flex-wrap">
                                        <div class="forgotton-password_info">
                                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 pt-3">
                                    <button type="submit" class="btn btn-custom-size lg-size btn-pronia-primary">Login</button>
                                    <span class="ms-2">or @Html.ActionLink("Register as a new user", "Register")</span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</main>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#show_password').on('click', function () {
                var passwordField = $('#Password');
                var passwordFieldType = passwordField.attr('type');
                if (passwordFieldType === 'password') {
                    passwordField.attr('type', 'text');
                    $(this).html('<i class="fa fa-eye-slash"></i>');
                } else {
                    passwordField.attr('type', 'password');
                    $(this).html('<i class="fa fa-eye"></i>');
                }
            });
        });
    </script>
}