@model IEnumerable<GardenShopOnline.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<input type="text" hidden id="URLgetCategory" value="@Url.Action("getCategory", "Categories")" />
<input type="text" hidden id="URLgetType" value="@Url.Action("getType", "Types")" />
<input type="text" hidden id="URLProductList" value="@Url.Action("ProductList", "Products")" />

<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Product Management</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index", "AspNetUsers")"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Products</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-3">
                                    <select class="custom-select" id="filter_Category" name="filter_Category" required>
                                        <option value="" disabled="disabled" selected="selected">Select product category</option>

                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <select class="custom-select" id="filter_Type" name="filter_Type" required>
                                        <option value="" disabled="disabled" selected="selected">Select product type</option>

                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <button type="button" class="btn btn-primary float-right ml-2" onclick="location.href='@Url.Action("Create","Products")';">Add new</button>

                                </div>
                            </div>
                        </div>
                        <div class="card-body table-border-style">
                            <div class="table-responsive" id="dataContainer">
                                @{ Html.RenderAction("ProductList", "products", new { category_id = -1, type_id = -1 });}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script type="text/javascript">
        var row;
        $(document).ready(function () {
            $('#example').DataTable({
                pagingType: 'full_numbers',
            });
        });

    </script>
}